header {
  top: 0%;
  left: 0%;
  right: 0%;
  position: fixed;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

main {
  background-color: #696E79;
  margin-bottom: 30px;
  margin: 50px;
  padding-top: 15%;
  font-family: cursive; }
